* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 80%;
  margin: 2em auto;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 600;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 100%;
}

.sticky {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  z-index: 99999;
}
th {
  font-weight: 700;
  /* border: 1px solid #ccc; */
  white-space: nowrap;
  padding: 1em;
  color: #fff;
  background-color: #3464c5;
}
th:first-child,
th:nth-child(2) {
  text-align: left;
}
td {
  /* border: 1px solid #ccc; */
  white-space: nowrap;
  padding: 0.5em 1em;
  color: #a1a1a1;
  background-color: #fff;
  text-align: right;
}
td:first-child,
td:nth-child(2) {
  text-align: left;
  background: rgb(248, 248, 248);
}
td:nth-child(2) {
}
.cat-totals td {
  background: rgb(224, 224, 224);
  color: rgb(53, 53, 53);
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-upper {
  text-transform: uppercase;
}
.top-border {
  border-top: 5px solid #000;
}
.top-border td {
  color: #000;
}
.container {
  width: 100%;
  overflow-x: scroll;
}
.grey {
  background-color: rgb(224, 224, 224) !important;
  color: rgb(31, 30, 30);
  font-weight: 700;
}
