* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 80%;
  margin: 2em auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 100%;
}

.sticky {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  z-index: 99999;
}
th {
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 1em;
  color: #fff;
  background-color: #0d46b9;
}
td {
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 1em;
  color: #a1a1a1;
  background-color: #fff;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-upper {
  text-transform: uppercase;
}
.container {
  width: 100%;
  overflow-x: scroll;
}
.grey {
  background-color: rgb(224, 224, 224) !important;
  color: rgb(31, 30, 30);
  font-weight: 700;
}
